
body{
font-family: 'Montserrat', sans-serif;
display: flex;
flex-wrap: wrap;}

/* Barre navigation coté gauche au dela de 1461px */
@media (min-width: 1461px){
/* Nom et prénom */
.sidebar h1{
    color:#FFF;
    font:26px Open Sans;
    margin-bottom: 80px;
    text-align: center;
}

.sidebar .name{
    color:rgb(179, 127, 67);
}

/* Ensemble barre de navigation  */
.sidebar{
  width:15%;
  height:100%;
  position:fixed ;
  z-index:2000; 
  background:url("img/CaptureMoon.png");
  
  border-right:10px solid #aa7423;}

.buttonSidebar{
    width: 85%;
    height: 30px;
    font: 20px Oswald;
    color:rgb(179, 127, 67);
    text-transform: uppercase;
    background-color: black;
    border: 2px solid rgb(179, 127, 67);
    border-radius: 15px;
}

/* ensemble de tout les li */
.sidebar ul{
    padding: 0px;
    width: 100%;}
  
/* tout les li de la barre de navigation  */
.sidebar li{
    list-style:none;
    padding:5px 0px;
    text-align: center;
    padding-top: 30px;
    }
  
/* couleur des logos devant les menus */
.sidebar a{
    color:rgb(179, 127, 67);}
.fa-folder-open{
    color:rgb(179, 127, 67);}
.fa-download{
    color:rgb(179, 127, 67);
cursor: pointer;}

/* enlever la décoration sur les logo */
.sidebar a:hover{color:rgb(179, 127, 67);}

/* Pousse le titre menu de son logo */
.sidebar .push{
    margin-right:10px;
}


/* SOUS MENU */


/* ensemble des projets */
.dropdown-menu{
    background-color: black !important;
    border: 2px solid rgb(179, 127, 67) !important;
    border-radius: 15px !important;
    width: 100%;
}

/* bouton des projets */
.buttonSidebarSubmenu{
    width: 100%;
    height: 30px;
    font: 20px Oswald;
    color:rgb(179, 127, 67);
    text-transform: uppercase;
    background-color: black;
    border-radius: 15px;
}

.dropdown-item{
    background-color: black !important;
    padding: 0px;
}
/* .dropdown{
    height: 60px !important;

} */
.sub-menu li a{
    padding:0;
    width: 100%;
}
/* Fin du css pour le sous menu  */
}






/* Barre nav responsive 
passer  la navBar de gauche à top
 quand on est en dessous de 1460px
*/
@media (max-width: 1460px ){

footer{width: 100% !important;;
         margin-left: 0 !important;}

.page{width: 100% !important; 
        margin-left: 0 !important;}

.bg-copyright{width: 100% !important; 
        margin-left: 0 !important;}

/* Nom et prénom */
.sidebar h1 {
    color: #FFF;
    font: 26px Open Sans;
    margin-bottom: 0px !important;
    text-align: center;
}

.sidebar .name{
    color:rgb(179, 127, 67);
}

/* Ensemble barre de navigation  */
.sidebar{
    width:100%;
    height:auto;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between !important;
    z-index:2000; 
    background-color: black !important;
    background: none;
    border:2px solid #aa7423;}

.buttonSidebar{
    width: 160px;
    height: 30px;
    font: 20px Oswald;
    color:rgb(179, 127, 67);
    text-transform: uppercase;
    background-color: black;
    border: 2px solid rgb(179, 127, 67);
    border-radius: 15px;
}

/* ensemble de tout les li */
.sidebar ul{
    padding: 5px 5px 5px 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
/* tout les li de la barre de navigation  */
.sidebar li{
    list-style:none;
    padding:5px 15px;
    text-align: center;
    }
  
/* couleur des logos devant les menus */
.sidebar a{
    color:rgb(179, 127, 67);}
    
.fa-folder-open{
    color:rgb(179, 127, 67);
cursor: pointer;}
.fa-download{
    color:rgb(179, 127, 67);
cursor: pointer;}

/* enlever la décoration sur les logo */
.sidebar a:hover{color:rgb(179, 127, 67);}




/* SOUS MENU */
/* bouton pour voir les projets */

/* ensemble des projets */
.dropdown-menu{
    background-color: black !important;
    border: 2px solid rgb(179, 127, 67) !important;
    border-radius: 15px !important;
    width: 100%;
}

/* bouton des projets */
.buttonSidebarSubmenu{
    width: 100%;
    height: 30px;
    font: 20px Oswald;
    color:rgb(179, 127, 67);
    text-transform: uppercase;
    background-color: black;
    border-radius: 15px;
}

.dropdown-item{
    background-color: black !important;
    padding: 0px;
}

.sub-menu li a{
    padding:0;
    width: 100%;
}
/* Fin du css pour le sous menu  */







}





/* fin de la Barre nav responsive */

/* @media (min-width: 1460px){
.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    }
} */







/* Changement d'image par rapport à la 
largeur pour que la lune ne soit pas écrasée */
@media (max-width: 1600px ){
.page
    {background-image: url(img/night.jpg);
    background-size:100% 100%;
   
    position: relative;
    width: 85%;
    margin-left: 15%;
}
}
@media (min-width: 1601px ){
.page{
    background-image: url(img/night1.jpg);
    background-size:100% 100%;
    position: relative;
    width: 85%;
    margin-left: 15%;
}
}




          



                                 /* SEPARATEUR */
.bg-portfolio p{
    font-size: 1.5rem;
    color:white}
                

 .separator .line{
    height: 2px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    margin: 5px 5px;}
                                

                                 /* PARTIE PORTFOLIO */

.bg-portfolio{
    background: transparent;
    position: relative;
    color: white;
    padding: 2rem 0; 
   
    /* 6fois le font-size du body */}

.bg-portfolio h1{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;}



.backgroundApropos{
    background-color:#000000;
}
    



                                /* A PROPOS */
#APROPOS{
    padding-top: 60px;
}
.carousel{
    padding: 0 65px !important;
}

.bg-about{
    color: white;
    padding: 1rem 0;}

.bg-about h2{
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(255, 255, 255);}


.titleli{
    color: rgb(240, 232, 232);
    text-decoration: underline;
    font-weight: bold;
}

/* A PROPOS  carousel*/

.puceOk{
    list-style: "\002611";}

.nopuce{
    list-style-type: none;}


.carousel-control-next, .carousel-control-prev{
    position: absolute;
    width: 5% !important;
}

.carousel-control-next{
    background-color: #aa7423;
    right: 0px!important;}

.carousel-control-prev{
    background-color: #aa7423;
    left: 0px!important;}


.buttonCV{
    margin: 5px 0;
    z-index: 9999;
    position: absolute;
    left:45%;
}


                                 /* PARTIE PROJET */


#PROJECT{
    padding-top: 60px;
    color: white;
}
.bg-project .line{
    background-color: white;}

.bg-project .fa-folder-open{
    color: white;
}

.image{
    border-radius: 15px;
    height: 250px;
    object-fit: cover;}

.bg-project .row img{
    height: 245px;
}

.baseprojet{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 15px;
    object-fit: cover;
    flex-wrap: wrap;
}
.baseprojetVide{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #aa7423;
    border-radius: 15px;
    object-fit: cover;
    flex-wrap: wrap;
    background-color: black;;
}

.baseprojetVide  p{
    color: #aa7423;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
.baseprojetVide  .sousP{
    font-size: 16px;
}


.bg-project h2{

    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}



.bg-project .filter{
    background-color:#9198e549;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;}

.bg-project .filter:hover{
    opacity:1;

}


.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: rgb(0, 0, 0) !important;
    background-clip: padding-box;
    border: 3px solid #aa7423 !important;
    border-radius: .3rem;
    outline: 0;
}

.modal-title {
    color:  #aa7423 !important;
    margin-bottom: 0;
    line-height: 1.5;}

.fa-times:before {
    color: #aa7423 !important;
    content: "\f00d";
}

.btn-success{
    color: rgb(0, 0, 0) !important;
    background-color: #aa7423 !important;
    border-color:  #aa7423 !important;
}










/* PARTIE CONTACT */
.MessageSuccess{
    color: white;
}

#CONTACT{
    padding-top: 60px;
    color: rgb(255, 255, 255);}


.contact h2{
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
.contact-form .form-control{
    border:0;
    border-bottom: 1px solid black;}

.contact-form .form-control:focus{
     box-shadow: none;}

.buttonContact{
    margin: 25px 0;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.envoyermail{
    color: rgb(255, 255, 255) ;
    text-decoration: none ;
    width: 100%;
}

.envoyermail:hover{
    color: rgb(255, 255, 255) ;
    border-bottom: 2px solid white;
    text-decoration: none ;
    width: 100%;
}




                /* FOOTER*/
footer{
    /* width: 85%; */
    width: 100%;
    /* margin-left: 15%; */
    padding:2rem 0;
    text-align: center;
    color:  #aa7423;
    background-color: black;
    border-top: 3px solid #aa7423;
    border-bottom: 3px solid #aa7423;}


footer h3{
    text-transform:uppercase ;}

footer a{
    color: #aa7423;}

footer .btn-outline-light{

        border-radius: 100%;
        width: 50px;
        height: 50px;
        line-height: 36px;
        padding: 6px;
        margin: 0 5px;
        border-width: 2px;}

footer i{
        width: 25px;
        height: 20px;
        transition: 0.5s;}

footer a:hover i{
        transform: rotate(360deg);}

.fa-linkedin-in:before {
    color: #aa7423;}

.fa-github:before {
    color: #aa7423;}

.bg-copyright{
    /* width: 85%; */
    width: 100%;
    /* margin-left: 15%; */
    background-color: black;
    color: white;
    border-bottom: 3px solid #aa7423;}



.shadowblock{
    box-shadow: 10px 10px 10px rgb(37, 28, 28);
}

