

      /* PARTIE Style */

.row{
    margin: 0 !important;
}     
.bg-style{
    background-color: black;
    padding: 5px;
}

.bg-style h2{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 1rem;  
    color: #abe0f2;}


.CaseStyle{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    object-fit: cover;
    border: 1px solid #abe0f2;
margin-top: 25px;}


.CaseStyle  p{
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #abe0f2;}


.bg-style .filter{
    background-color:#9198e549;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;}

.bg-style .filter:hover{
    opacity:1;

}




